header { 
  background-color: rgb(91, 38, 38);
  color: white;
  background-image: url(https://i.imgur.com/UghT1pk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.bigbutton {
    line-height:3;
    font-size:20px;
    padding:10px;
    padding-right:30px;
    padding-left:30px;
    border: 4px rgb(57, 23, 23);
    color:white;
    background-color: rgb(0, 0, 0);
    text-decoration:none;
    justify-content: center; 
    font-family:Oswald;
}

.heading {
    font-family: Oswald;
}

body {
  background-color: rgb(57, 23, 23);
  color:white;
}

.content {
  font-family:"Roboto Condensed";
}

@keyframes swoop {
  0% {right:300px;}
  10% {right:100px}
  20%  {right:50px}
  30%  {right:25px}
  40%  {right:12.5px}
  50%  {right:6.25px}
  60% {right:3px}
  70% {right:1.5px}
  80% {right:0.5px}
  100% {right:0px}
}

.iov {
  position: relative;
  animation-name: swoop;
  animation-duration: 1.5s;
} 
