header { 
  background-color: rgb(91, 38, 38);
  color: white;
  background-image: url(blob:https://imgur.com/ae518bf0-3477-48cb-ae36-83264921496c);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.bigbutton {
    line-height:3;
    font-size:20px;
    padding:10px;
    padding-right:30px;
    padding-left:30px;
    border: 4px outset rgb(57, 23, 23);
    color:white;
    background-color: rgb(0, 0, 0);
    text-decoration:none;
    justify-content: center; 
    font-family:Oswald;
}

.heading {
    font-family: Oswald;
}

body {
  background-color: rgb(57, 23, 23);
}
